<div>
  <h1>Tu perfil</h1>
  <p>{{user.first_name}} {{user.last_name}}</p>
  <p>{{user.email}}</p>
  <p>{{user.age}}</p>
  <p>Role: {{user.role}}</p>
  <p><a href="/api/sessions/logout">Logout</a></p>
</div>
<script src="/js/users.js"></script>